<%- include('./_partials/_head') %>

<h2>test</h2>
<h1><%= title %></h1>

<% if(showButton){ %>
    <form action="fetch-instagram-token" method="post">
        <input type="submit" value="Login to instagram" name="submit">
    </form>
<% } %>

<%- include('./_partials/_footer') %>